/* Desktop view */
.spline-mobile {
  height: 100%; /* Full height */
  position: static; /* Keep behind text */
  top: auto;
  bottom: 0; /* Ensure it's placed at the bottom */
  z-index: 0; /* Behind text */
}

/* Mobile view */
@media (max-width: 768px) {
  .spline-mobile {
    height: 70%; /* Reduce height for mobile */
    bottom: -20%; /* Push further down to avoid overlap */
  }}

/* Typewriter Effect - General */
.aravindselvan-typewriter span {
  vertical-align: bottom; /* Aligns text to the bottom of its container */
  position: relative;
  display: inline-block;
  border-right: 2px solid #915EFF;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(26, end), blink 01s step-end infinite;
  padding-left: 5px;
}

/* Responsive Adjustments */
.aravindselvan-typewriter span {
  width: calc(12ch); /* Dynamic width based on character count */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: calc(12ch); /* Matches the total width of "Aravindselvan" */
  }
}

@keyframes blink {
  0% {
    border-color: transparent;
  }
  50%{
    border-color: orange;
  }
}

.splinee{
  display: flex;
  padding-top: 150px;
}